.navBarContainer {
   
    display:flex;
    height : 80px;
    
    
}

.youtubeContainer {
   
    margin-left : auto;
    display: flex;
    
    
    
}
.formContainer {
    display:flex;
    min-width: 560px;
    width: 965px;
    margin-left : auto;
    margin-right : 230px;
   
    
    
}
.youtube {
    color:white;
    font-size : 30px;
    margin-top : 15px;
    cursor:pointer;
   
}
.search {
    
    width: 50%;
    min-width: 200px;
    height : 40px;
    margin-top : 17px;
    flex-shrink: 1;
    background-color: black;
   
}
.searchBox {
    border : solid black 0px;
    width : 48px;
    height : 46px;
    margin-top : 17px;
    background-color: gray;
    cursor:pointer;
    
    
    
}
.searchImg {
    background-color: gray;
}
.youtubeLogo {
    margin-top : 15px;
    cursor:pointer;
    
}
.submit {
    
    display:flex;
    justify-content: flex-start;
    
    width : 1060px;
}