* {
    background-color: #18191A;
    
}

.container {
    
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.container2 {
    
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    
}
